# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ipynb_checkpoints
.vscode

# Unit test report
.pytest_cache/

# Mac OS X
*.DS_Store

# IRS-SOI PUF and related CPS matching data files
puf*.csv
demographics*.csv
*puf.csv
puf.csv*
cps-matched-puf.csv
StatMatch/Matching/puf2011.csv
cpsmar2016.csv

# Intermediate CPS files and SAS scripts
cps_data/pycps/cps_raw.csv.gz
cpsmar*.sas
cpsmar*.csv
*.dat


# pickle
cps*.pkl

# .npz numpy files
*.npz
