[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = ">=1.12.1"
pandas = ">=0.20.3"
scipy = ">=0.18.1"
bokeh = ">=0.12.3"
statsmodels = '*'
pytest = '*'
pulp = '*'
tqdm = '*'
requests = '*'
lxml = '*'

[requires]
python_version = "3.6"

